body, html {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 15px; }

.wrapper {
  margin: 0 auto;
  max-width: 700px; }

img {
  width: 100%;
  margin-bottom: -2px; }

body,
html {
  height: 100%;
  font-family: "Inconsolata", sans-serif; }

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 90px;
  font-weight: normal;
  text-align: center;
  margin: 0; }

.section-title {
  text-align: center; }
  .section-title h2 {
    text-transform: uppercase;
    color: white;
    background: black;
    font-weight: normal;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    font-size: 18px;
    padding: 0 8px;
    display: inline-block;
    margin: 76px 0 64px; }
  .section-title:last-child h2 {
    margin-top: 58px;
    margin-bottom: 48px; }

p {
  font-size: 18px; }

p:last-child {
  margin-bottom: 0; }

blockquote {
  font-size: 18px;
  font-style: italic;
  background: #f1f1f1;
  margin: 0 0 34px;
  padding: 17px;
  border-left: 5px solid #ccc; }
  blockquote span {
    display: block;
    margin-top: 18px;
    font-style: normal; }

.note {
  color: white;
  background: black;
  padding: 4px 8px; }

#nav {
  background: black;
  padding: 8px 16px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100; }
  #nav a {
    display: block;
    color: white;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 8px 0; }
  #nav a:hover {
    background: #ccc;
    color: black; }

.hero-image {
  background: url("https://www.w3schools.com/w3images/coffeehouse.jpg") no-repeat center;
  background-size: cover;
  min-height: 75%;
  filter: grayscale(50%);
  position: relative; }

.address {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 24px;
  color: white; }

.opening-times {
  position: absolute;
  bottom: 10px;
  left: 24px;
  background: black;
  color: white;
  padding: 0px 8px;
  font-size: 15px; }

.tabbed-options {
  padding: 8px 16px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: -8px; }
  .tabbed-options .tabbed-option {
    text-align: center;
    width: 50%;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: black; }
    .tabbed-options .tabbed-option.active-link {
      background: #616161;
      color: white; }

.tabbed-content {
  padding: 48px 16px 12px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 31px; }

.cafe-item {
  margin-bottom: 55px; }
  .cafe-item .item-name {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 18px; }
  .cafe-item .item-description {
    color: #757575 !important;
    font-size: 18px; }

form input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 16px 8px;
  display: block;
  width: 100%; }

form button.button {
  border: 0;
  background: black;
  color: white;
  padding: 8px 16px;
  font: inherit;
  font-size: 18px; }

footer {
  text-align: center;
  margin-top: 116px; }
  footer a {
    color: black; }
