/*
    RESET PROPERTIES
 */
body, html {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


body,
h1 {
    font-family: "Raleway", sans-serif
}
body,
html {
    height: 100%;
}

.background-image {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 24px;
    color: white;
    font-size: 24px;
}

.coming-soon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coming-soon h1 {
    text-transform: uppercase;
    font-size: 64px;
    margin: 10px 0;
    padding: 0;
    position: relative;
    animation: animatetop 0.4s;
    font-weight: normal;
}

.coming-soon hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 0 auto;
    width: 40%;
}

.coming-soon .countdown {
    font-size: 18px;
    text-align: center;
}

footer {
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 1.5;
}

footer a {
    color: inherit;
}

@keyframes animatetop {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
